sudo: required

services:
  - docker

install: true

before_script:
  - docker pull heroku/heroku:16

script:
  - docker build -t app/test .
  - docker run -it app/test python -m unittest discover -s test/acceptance --pattern=*.py 1>&2