<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HTM5 picture dropzone</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/image_load.css') }}">
</head>

<body>

<div id="dropzone">
  <div>Click or Drag Photo </div>
  <input type="file" accept="image/png, application/pdf" />
</div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/image_load.js') }}"></script>
</body>
</html>